#board-detail-wrapper {
  margin: 0 auto;
  padding-top: 70px;
  min-width: 800px;
}

#board-detail-wrapper .detail-container {
  margin: 0 30px 0;
}

#board-detail-wrapper .location-path {
  font-size: 14px;
  margin-bottom: 10px;
}

#board-detail-wrapper .post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#board-detail-wrapper post-title {
  font-size: 24px;
  font-weight: bold;
}

#board-detail-wrapper .badge {
  background: #eee;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 8px;
}

#board-detail-wrapper .location-btn {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 8px;

  cursor: pointer;
}

#board-detail-wrapper .post-content {
  margin: 20px 0;
  font-size: 16px;
}

#board-detail-wrapper .reaction-container {
  display: flex;
}

#board-detail-wrapper .reaction-header {
  display: flex;
  gap: 10px;
}

#board-detail-wrapper .reaction-box {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 80px;

  font-size: 18px;

  cursor: default;
}

#board-detail-wrapper .icon {
  width: 30px;
  height: 30px;

  background-size: 100% 100%;

  cursor: pointer;
}

#board-detail-wrapper .icon.good {
  background-image: url(src/assets/images/good.png);
}

#board-detail-wrapper .icon.good-empty {
  background-image: url(src/assets/images/good_count.png);
}

#board-detail-wrapper .icon.view-count {
  background-image: url(src/assets/images/Eye.png);
  cursor: default;
}

#board-detail-wrapper .icon.hate {
  background-image: url(src/assets/images/hate.png);
}

#board-detail-wrapper .icon.hate-empty {
  background-image: url(src/assets/images/hate-empty.png);
}

#board-detail-wrapper .comment-input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#board-detail-wrapper .comment-input-section .comment-box {
  display: flex;
  gap: 20px;
}

#board-detail-wrapper .comment-input-section textarea {
  flex: 1;

  height: 80px;

  outline: none;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 6px;
}

#board-detail-wrapper .comment-btn {
  cursor: pointer;
}

#board-detail-wrapper .comment-bot {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}