#auth-wrapper {
    display: flex;
  }
  
  #auth-wrapper .auth-box {
    flex: 1;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 130px;
    min-width: 610px;
  }
  
  #auth-wrapper .divider {
    border-top: 1px solid var(rgbx);
    width: 64px;
  }
  
  .sns-button.kakao {
    background-image: url('/src/assets/images/kakao.png');
  }
  
  .sns-button.naver {
    background-image: url('/src/assets/images/naver.png');
  }